@import url('css/fancybox.css');
div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color: $color_text_main;
}
section, div {
	&:focus {
		outline: 0;
	}
}
a,input,button,select,textarea {
	transition: all ease .3s;
}
a {
	color: $blue;
	text-decoration: underline;
	&:hover {
		// color: tint($primary,30%);
    color: $green;
	}
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}
.fw,.full {width:100%!important;float:left !important}
.nomtop {margin-top:0!important;}
.nombottom {margin-bottom:0!important;}
/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.flexwrap {
	position: relative;
	@include flexgroup();
}
.site {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 30em;
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	z-index: 10;
	&.narrow {
		max-width: 900px;
	}
	&.sm {
		max-width: 800px;
	}
	&.wide {
		max-width: 100%;
    @include tab {
      max-width: 90%;
    }
	}
}
small.smtxt {
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
}
input.gform_button, input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  padding: 5px 30px 6px;
  border-radius: 300px;
  min-width: 160px;
  text-align: center;
  font-size: 18px;
  background: $green;
  color: #FFF;
  border: 1px solid $green;
  -webkit-appearance:none;
  text-transform: uppercase;
  &:focus {
    box-shadow: 0 0 8px rgba(27,195,195,0.75);
    outline: none;
  }
  &:hover {
    border-color: $primary;
    background: $primary;
  }
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 300px;
  min-width: 160px;
  text-align: center;
  font-size: 18px;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 18px 20px rgba(0,0,0,0.15);
  }
  &.btn-green {
    background: $green;
    color: #FFF;
    border: 1px solid $green;
    &:hover {
      // background: tint($green,20%);
      border-color: $primary;
      background: $primary;
    }
  }
  &.btn-outline {
    border: 1px solid $primary;
    color: $primary;
    &:hover {
      background: $primary;
      color: #FFF;
    }
  }
  &.btn-orange {
    background: #f8cb8a;
    color: $primary;
    &:hover {
      background: tint(#f8cb8a,20%);
    }
  }
  &.btn-link {
    &.expand {
      min-width: unset;
      padding: 0 0!important;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 0;
      box-shadow: none;
      color: $primary;
      &:after {
        content:"";
        display: block;
        width: 100%;
        border-bottom: 1px solid $primary;
        position: relative;
        top: -2px;
      }
      &:hover {
        box-shadow: none;
        color: $green;
        transform: none;
        &:after {
          border-bottom-color: $green;
        }
      }
    }
  }
}

.button-group {
  margin-top: 30px;
  text-align: center;
  @include tab {
    text-align: left;
  }
  .btn {
    margin: 0 10px 20px;
    width: 80%;
    text-align: center;
    @include tab {
      width: auto;
      margin-left: 0;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

.site-header {
  margin-top: 20px;
  // padding-bottom: 35px;
  position: relative;
  z-index: 15;
  @include tab {
    margin-top: 25px;
  }
  .wrapper {
    .flexwrap {
      @include flexbox-align-items(center);
    }
  }
  .top-cta-btn {
    display: inline-block;
    text-decoration: none;
    padding: 5px 30px;
    background: $green;
    border-radius: 200px;
    color: #FFF;
    position: absolute;
    @include tab {
      top: 2px;
      right: 0;
    }
    &:hover {
      // background: tint($green,20%);
      // transform: translateY(-5px);
      // box-shadow: 0 5px 15px rgba(0,0,0,0.15);
      background: $primary;
    }
  }
}

#site-logo {
  width: 150px;
  float: left;
  position: relative;
  top: 4px;
  @include tab {
    width: 220px;
    top: -9px;
  }
  a,svg {
    display: block;
    width: 100%;
    float: left;
  }
  svg {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 0.8s linear forwards;
    .l1 {
      animation: logo_text1 0.8s forwards ease-in-out;
    }
    .l2 {
      animation: logo_text1 0.8s forwards ease-in-out;
    }
    .cross { 
      opacity: 0;
      animation: logo_cross 1s linear forwards;
    }
  }
}

#site-navigation {
  display: block;
  float: left;
  @include tab {
    display: inline-block;
    margin-left: 30px;
    position: relative;
  }
  #primary-menu {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    li {
      position: relative;
    }
    #homepagelink {
      display: block;
      @include tab {
        display: none;
      }
    }
  }
  #primary-menu, 
  #primary-menu > li {
    float: left;
  }
  #primary-menu a {
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
  #primary-menu > li {
    @include tab {
      margin-right: 5px;
    }
  }
  #primary-menu > li > a {
    font-size: 16px;
    font-weight: 400;
    color: $color_text_main;
    padding: 13px 25px 15px 25px;
    position: relative;
  }
  #primary-menu > li:hover > a {
    background: $green;
    color: #FFF;
  }

  #primary-menu > li.menu-item-has-children > a {
    font-weight: 700;
    padding: 13px 32px 32px 20px;
    &:before, &:after {
      content:"";
      display: block;
      width: 7px;
      height: 2px;
      background: #50534a;
      position: absolute;
      top: 25px;
      right: 14px;
      transition: all ease .3s;
    }
    &:before {
      transform: translateX(-4px) rotate(48deg);
    }
    &:after {
      transform: rotate(-48deg);
    }
    span {
      display: block;
      position: relative;
      z-index: 5;
    }
  }
  #primary-menu > li.menu-item-has-children:hover > a {
    &:before, &:after {
      background: #FFF;
    } 
  }
  #primary-menu > li.current_page_item > a,
  #primary-menu > li.current_page_item:hover > a {
    background-color: transparent;
    opacity: 0.35;
  }
  #primary-menu > li > ul {
    position: absolute;
    left: 0;
    width: 250px;
    height: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all ease .3s;
    transform: translateY(-8px);
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    padding: 0 15px;
    background: $green;
    a {
      display: block;
      padding: 3px 0;
      font-size: 14px;
      color: #FFF;
    }
  }
  #primary-menu > li.menu-item-has-children:hover > ul {
    height: auto;
    max-height: 600px;
    opacity: 1;
    padding: 15px 15px;
    visibility: visible;
    transform: translateY(0);
  }

  #primary-menu > li > ul li.current_page_item > a,
  #primary-menu > li > ul li:hover > a {
    color: $primary;
  }
}

.mobile-menu {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 105;
  transition: none!important;
  @include tab {
    display: none;
  }
  i {
    display: inline-block;
    text-indent: -999em;
  }
  span.bar,
  span.bar:before,
  span.bar:after {
    display: block;
    height: 2px;
    background: $color_text_main;
    position: absolute;
    transition: all ease .3s;
  }
  span.bar {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  span.bar:before,
  span.bar:after {
    content:"";
    width: 100%;
  }
  span.bar:before {
    // transform: rotate(45deg);
    top: -10px;
  }
  span.bar:after {
    // transform: rotate(-45deg);
    top: 10px;
  }
}
.menu-overlay {display: none;}

/* Mobile */
@include max($tabwidth - 1px) {
  .outerNav {
    max-width: 320px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: -999;
    background: #FFF; 
    transition: all ease .3s;
    &.active {
      right: 0;
      z-index: 100;
    }
  }

  .site-header {
    .top-cta-btn {
      top: 25px;
      left: 25px;
    }
    #site-navigation {
      margin-top: 115px;
      #primary-menu > li {
        width: 100%;
        border-bottom: 1px dotted #d4d4d4;
      }
      #primary-menu > li > a {
        display: block;
        font-size: 1em;
      }
      #primary-menu > li > ul {
        display: none;
        height: auto;
        max-height: 600px;
        opacity: 1;
        padding: 5px 15px 20px 35px !important;
        visibility: visible;
        width: 100%;
        position: relative;
        z-index: 10;
        transition: none!important;
        transform: none!important;
        a {
          font-size: 0.9em;
          padding: 6px 0;
        }
      }
    }  
    .menu-overlay {
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 90;
      background: rgba(0,0,0,.75);
      @include animateThis(1s);
    }

  }


  body.mobile-menu-open {
    .site-header .menu-overlay {
      display: block;
      @include animateEffect('fadeIn');
    }
    .mobile-menu {
      position: fixed;
      top: 23px;
      right: 25px;
      span.bar {
        background-color: transparent;
      }
      span.bar:before {
        transform: translateY(10px) rotate(45deg);
      }
      span.bar:after {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }

  body.logged-in.admin-bar {
    &.mobile-menu-open {
      .mobile-menu {
        top: 65px;
      }
    }
    .site-header {
      .top-cta-btn  {
        top: 65px;
      }
    }
  }
}

.home-hero {
  margin-bottom: 80px;
  .hero-inner {
    @include flexgroup();
    @include flexbox-justify(center);
  }
  .hero-col {
    width: 100%;
  }
  .hero-col.left {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    @include tab {
      margin-bottom: 0;
      width: 50%;
      padding-left: 20px;
      padding-right: 0;
      padding-top: 50px;
    }
    .hero-content {
      @include tab {
        max-width: 575px;
        width: 100%;
        float: right;
        padding-right: 9vw;
      }
    }
    p {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }

    .large-text {
      color: $primary;
      font-family: $font_secondary;
      font-size: 38px;
      line-height: 1.2;
      margin-bottom: 40px;
    }
    .small-text {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.3;
      strong, b {
        font-weight: 700;
        color: $green;
      }
    }
    div.buttons {
      margin-top: 50px;
      text-align: center;
      @include tab {
        text-align: left;
      }
      .btn {
        margin: 0 10px 20px;
        width: 80%;
        text-align: center;
        @include tab {
          width: auto;
          margin-left: 0;
          margin-right: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
  .hero-col.right {
    padding: 20px;
    @include tab {
      width: 50%;
      padding: 0 0;
    }
  }
  
  .masonry {
    @include flexgroup();
    .block {
      width:50%;
      @include tab {
        width:33.33%;
      }
    }
    .card {
      position: relative;
      display: block;
      width: 100%;
      float: left;
      overflow: hidden;
    }
    span.text {
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-family: $font_secondary;
      font-size: 1.8em;
      line-height: 1.2;
      color: #FFF;
      padding: 15px;
    }
    .img {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transition: transform .6s;
      @include backgroundImage(center);
      &.front {
        transform: scale(1.01) perspective(1000px) rotateY(0);
        z-index: 90;
      }
      &.back {
        transform: scale(1.01) rotateY(-180deg);
      }
    }
    .card:hover {
      .img.front {
        transform: perspective(1000px) rotateY(180deg);
      }
      .img.back {
        z-index: 100;
        transform: perspective(1000px) rotateY(0deg);
      }
    }
    img {
      width: 100%;
      height: auto;
      float: left;
    }
  }
}

@keyframes logo {
  0% {
    stroke-width: 1pt;
    stroke-dashoffset: 1200;
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}

@keyframes dash {
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes logo_cross {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo_text1{
  from {
    opacity: 0;
    width: 0;
    transform: translateY(35px) translateX(20%);
  }
  to {
    width: auto;
    opacity: 1;
  }
}

@keyframes logo_text2{
  from {
    opacity: 0;
    width: 0;
    transform: translateY(35px) translateX(-20%);
  }
  to {
    width: auto;
    opacity: 1;
  }
}
.h1,.h2 {
  font-family: $font_secondary;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 10px;
  color: $primary;
}
.h1 { 
  font-size: 30px;
  @include tab {
    font-size: 40px;
  }
}
.h2 { 
  font-size: 20px; 
  @include tab {
    font-size: 30px; 
  }
}
.title-green {
  font-family: $font_secondary;
  font-size: 38px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 10px;
  color: $green;
}

.section-with-icons {
  .col-icons {
    width: 100%;
    margin-bottom: 60px;
    @include tab {
      margin-bottom: 0;
    }
    div.icon {
      margin-bottom: 10px;
      span {
        display: inline-block;
        width: 85px;
        height: 85px;
        @include backgroundImage(center);
        background-size: contain;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .title {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
    color: $blue;
    text-transform: uppercase;
  }
  .t1 {
    font-family: $font_secondary;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.2;
    margin:0 0;
    color: $green;
  }
  .item {
    margin-bottom: 30px;
  }
  &.columns-2 {
    .col-icons {
      @include tab {
        width: 50%;
      }
    }
  }
}

#homerow3.section-with-icons {
  margin: 80px 0;
  .flexwrap {
    margin-left: -30px;
    margin-right: -30px;
  }
  .col-icons {
    width: 100%;
    margin-bottom: 40px;
    @include tab {
      width: 50%;
      margin-bottom: 60px;
    }
    .inner {
      padding: 0 30px;
    }
  }
  .title {
    font-family: $font_secondary;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
    text-transform: none;
    color: $primary;
  }
  .btn-link {
    display: inline-block;
    text-decoration: none;
    color: $blue;
    position: relative;
    &:after {
      content:"";
      display: block;
      width: 100%;
      border-bottom: 1px solid $blue;
      position: relative;
      top: -2px;
      transition: all ease .3s;
    }
    &:hover {
      color: $green;
      &:after {
        border-color: $green;
      }
    }
  }
}

blockquote  {
  .quote-author {
    display: block;
    width: 100%;
    color: $green;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
  }
}

.image-text-block {
  .itb-col {
    width: 100%;
  }
  .itb-col.image {
    @include backgroundImage(center);
    margin-bottom: 20px;
    @include tab {
      margin-bottom: 0;
    }
    img {
      width: 100%;
      height: auto;
      visibility: hidden;
      float: left;
    }
  }
  .itb-col.text {
    @include flexgroup-center();
    @include flexbox-align-items(center);
    .inner {
      width: 100%;
      padding: 0 20px;
      @include tab {
        padding: 0 5vw;
      }
      @include desk {
        padding: 0 10vw;
      }
    }
    blockquote {
      margin: 20px 0;
      color: $gray;
    }
  }
  &.half {
    .itb-col {
      @include tab {
        width: 50%;
      }
    } 
  }
}

.full-text-block {
  margin: 50px 0;
  h2 {
    font-family: $font_secondary;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 10px;
    color: $primary;
    @include tab {
      font-size: 30px;
    }
  }
  .article {
    color: $color_text_main;
    blockquote {
      margin: 20px 0;
    }
  }
}

#homerow5 {
  .contact-section {
    margin-top: 40px;
    @include tab {
      margin-top: 0;
    }
    .flexwrap {
      @include flexbox-align-items(center);
    }
    .cs-col {
      width: 100%;
    }
    &.half {
      .cs-col.titlecol {
        @include tab {
          width: 30%;
          padding-right: 20px;
        }
      }
      .cs-col.contact {
        @include tab {
          border-left: 6px solid #efefef;
          padding-left: 40px;
          width: 70%;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
    .contact-inner {
      @include flexgroup();
      @include flexbox-align-items(center);
      .icons {
        width: 45px;
        @include flexgroup-center();
        @include flexbox-align-items(space-between);
        @include tab {
          width: 5vw;
        }
        .icondiv {
          margin-bottom: 20px;
        }
        .icondiv:last-child {
          margin-bottom: 0;
        }
        img {
          display: inline-block;
          width: 35px;
          height: auto;
        }
      }
      .textcol {
        width: 70%;
        p:first-child {
          margin-top: 0;
        }
        p:last-child {
          margin-bottom: 0;
        }
        ul {
          margin: 0 0;
          padding: 0 0;
          list-style: none;
          li {
            margin: 10px 0;
          }
          strong, a {
            display: inline-block;
            font-weight: 700;
            color: $green;
          }
          a:hover {
            color: $blue;
            strong {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

.image-text-block.reverse {
  .flexwrap {
    @include tab {
      @include flexbox-direction(row-reverse);
    }
  }
}

#homerow7 {
  margin: 30px 0;
  .features {
    margin: 70px 0;
    .featcol {
      width: 100%;
      &.graphic {
        text-align: center;
        @include tab {
          text-align: left;
          width: 30%;
          padding-right:5vw;
        }
        img {
          max-width: 220px;
          width: 100%;
          height: auto;
          @include tab {
            max-width: 270px;
          }
        }
      }
      &.textwrap {
        text-align: left;
        color: $color_text_main;
        @include tab {
          width: 70%;
        }
      }
      div.button {
        margin-top: 30px;
      }
    }
  }
}

#homerow8 {
  margin: 0 0 80px;
}
.videoEmbedWrap {
  width:100%;
  float: left;
  position: relative;
  img.video-helper {
    width: 100%;
    height: auto;
    float: left;
  }
  iframe {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.team-columns {
  margin: 80px 0;
  .flexwrap {
    margin-left: 0;
    margin-right: 0;
    @include xs {
      margin-left: -5vw;
      margin-right: -5vw;
    }
    @include tab {
      margin-left: -3vw;
      margin-right: -3vw;
    }
    @include tab {
      @include flexbox-justify(center);
      @include flexbox-align-items(top center);
    }
  }
  .team {
    width: 100%;
    padding: 0 20px;
    margin: 30px 0;
    @include xs {
      width: 50%;
      padding: 0 5vw;
      margin: 0 0;
    }
    @include tab {
      width: 25%;
      padding: 0 3vw;
    }
  }
  &.count1 .team,
  &.count2 .team,
  &.count3 .team {
    @include tab {
      width: 33.33%;
    }
  }

  .photo {
    max-width: 250px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    background-color: #eaeaea;
    margin: 0 auto 30px;
    @include tab {
      max-width: 150px;
      float: left;
      margin: 0 0 30px;
    }
    img.helper {
      width: 100%;
      height: auto;
      float: left;
    }
    .img {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #CCC;
      @include backgroundImage(center);
    }
    &.no {
      &:before {
        content:"Photo Coming Soon";
        display: block;
        padding: 0 20px;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 10px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #c3c3c3;
        letter-spacing: 1px;
        margin: 0 auto;
      }
    }
  }

  .info {
    width: 100%;
    float: left;
    position: relative;
  }
  .name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: $primary;
    margin: 0 0 20px;
  }
  .text-lg {
    margin-bottom: 20px;
  }
  .text-sm {
    font-size: 15px;
  }
  .button {
    margin-top: 20px;
    a:hover {
      color: $green;
    }
  }
}

#homerow10 {
  margin: 20px 0 30px;
  @include tab {
    margin: 20px 0 80px;
  }
  .gform_wrapper,
  .gform_wrapper.gravity-theme {
    input[type=text], input[type=email], input[type=tel] {
      outline: none;
      border: 1px solid $primary;
      font-size: 18px;
      height: 40px;
      line-height: 30px;;
      -webkit-appearance: none;
      box-shadow: none;
      border-radius: 0;
      &:focus {
        box-shadow: 0 0 8px rgba(27,195,195,0.75);
        outline: none;
        border-color: $green;
      }
    }
    label.gfield_label {
      display: none;
    }
  }
  .gform_footer {
    padding: 0 0;
    margin: 20px 0 5px;
  }
}

#homerow12 {
  margin: 80px 0;
  .flexwrap {
    margin-left: -15px;
    margin-right: -15px;
    @include tab {
      margin-left: -5vw;
      margin-right: -5vw;
    }
  }
  .col-icons {
    .inner {
      padding: 0 20px;
      @include tab {
        padding: 0 5vw;
      }
    }
  }
}

#bottom-logos,
#home-logos {
  text-align: center;
  margin-bottom: 30px;
  span {
    display: inline-block;
    margin: 10px;
    @include tab {
      display: inline;
    }
  }
  img {
    width: 100px;
    height: auto;
    @include tab {
      width: auto;
      height: 140px;
    }
    
  }
}

.page-title {
  font-family: $font_secondary;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  margin: 50px 0 20px;
  color: $primary;
  @include tab {
    font-size: 40px;
  }
}

.single-team {
  .page-title {
    margin-top: 0;
  }
  .top {
    margin-top: 50px;
    margin-bottom: 50px;
    @include tab {
      margin-top: 0;
    }
    .fcol {
      width: 100%;
      position: relative;
      &.left {
        margin-bottom: 30px;
        @include tab {
          margin-bottom: 0;
          padding-right: 5vw;
          @include flexgroup-center();
        }
        .inner {
          width: 100%;
        }
      }
      &.photo {
        position: relative;
        img {
          display: block;
          width: 100%;
          height: auto;
          @include tab {
            visibility: hidden;
          }
        }
        div.img {
          display: none;
          position: absolute;
          top: 0;
          left: 40px;
          height: 100%;
          width: calc(50vw - 40px);
          @include backgroundImage(center);
          background-color: #CCC;
          @include tab {
            display: block;
          }
        }
      }
    }
    &.half {
      .fcol {
        @include tab {
          width: 50%;
        }
        &.photo {
          @include tab {
            padding-left: 50px;
          }
        }
      }
    }
  }

  .entry-content {
    margin-bottom: 80px;
    .profpic {
      display: inline-block;
      float: left;
      border-radius: 100%;
      overflow: hidden;
      @include backgroundImage(center);
      margin-right: 30px;
      margin-bottom: 20px;
      img {
        width: 160px;
        height: auto;
        float: left;
        visibility: hidden;
      }
    }
    h2 {
      font-family: $font_secondary;
      font-size: 25px;
      font-weight: 400;
      line-height: 1.2;
      margin: 50px 0 20px;
      color: $primary;
      @include tab {
        font-size: 30px;
      }
    }
  }
}

.imageTextBlock {
  &.reverse {
    .flexwrap {
      @include flexbox-direction(row-reverse);
    }
  }
  .fcol {
    width: 100%;
    position: relative;
    @include tab {
      width: 50%;
    }
  }
  .fcol.image {
    margin-bottom: 30px;
    @include tab {
      margin-bottom: 0;
      padding-left: 50px;
    }
    div.img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include backgroundImage(center);
      background-color: #CCC;
      @include tab {
        width: calc(50vw - 40px);
        display: block;
        left: 40px;
      }
    }
    img.helper {
      width: 100%;
      height: auto;
      float: left;
      visibility: hidden;
    }
  }
  .fcol.text {
    @include tab {
      padding-right: 8vw;
    }
  }
}

/* Gravity Forms */
.gform_wrapper,
.gform_wrapper.gravity-theme {
  input[type=text], input[type=email], input[type=tel] {
    outline: none;
    border: 1px solid $primary;
    font-size: 18px;
    height: 40px;
    line-height: 30px;;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0;
    &:focus {
      box-shadow: 0 0 8px rgba(27,195,195,0.75);
      outline: none;
      border-color: $green;
    }
  }
  label.gfield_label {
    display: none;
  }
}
.gform_footer {
  padding: 0 0;
  margin: 20px 0 5px;
}

#bottom-contact-form {
  margin-bottom: 50px;
}

/* Footer */
.site-footer {
  width: 100%;
  float: left;
  background: #efeded;
  color: $color_text_main;
  font-size: 15px;
  .wrapper {
    padding-top:  70px;
    padding-bottom: 70px;
  }
  .footcol {
    width: 100%;
    text-align: center;
    @include tab {
      text-align: left;
    }
  }
  img.footlogo {
    max-width: 230px;
    width: 100%;
    height: auto;
  }
  .half .footcol.left {
    @include tab {
      width: 25%;
    }
  }
  .half .footcol.right {
    @include tab {
      width: 75%;
    }
  }
  .footcol.right {
    .inner {
      @include flexgroup();
    }
    .fcol {
      width: 100%;
      margin-top: 20px;
    }
    .fcol.one {
      @include tab {
        margin-top: 0;
        width: 70%;
        padding-right: 2vw;
      }
    }
    .fcol.two {
      @include tab {
        margin-top: 0;
        width: 30%;
      }
    }
  }
  .foot-info {
    margin-bottom: 10px;
  }
  .foot-info.company {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: $green;
    margin-bottom: 15px;
  }
  .foot-info:last-child {
    margin-bottom: 0;
  }
  .foot-info.copyright {
    font-size: 13px;
  }
  .foot-info.copyright.desktop {
    display: none;
    @include tab {
      display: block;
    }
  }
  .foot-info.copyright.mobile {
    display: block;
    margin-top: 30px;
    @include tab {
      display: none;
    }
  }
  .foot-cta {
    margin-bottom: 25px;
    .btn.btn-green {
      min-width: 100px;
    }
  }

  #footer-menu {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    li {
      margin: 5px 0;
    }
    a {
      display: inline-block;
      text-decoration: underline;
      color: $color_text_main;
      font-size: 18px;
      &:hover {
        color: $green;
      }
    }
    ul {
      display: none;
    }
  }
  .social-media {
    margin-top: 40px;
    margin-bottom: 25px;
    a {
      display: inline-block;
      text-decoration: none;
      width: 40px;
      height: 40px;
      border: 1px solid $green;
      color: $green;
      font-size: 22px;
      line-height: 36px;
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      &:hover {
        background: $green;
        color: #FFF;
      }
      @include tab {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
}



